.container
    .jumbotron
        h1 Mean Stack Testing
        p Something with lots of important cool things

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")